<div mat-dialog-title class="text-lg font-bold">
  @if (popupType === popupTypes.Add) { Thêm mới User } @else { Chỉnh sửa User }
</div>

<div mat-dialog-content>
  <div class="flex flex-col items-center p-5">
    <form class="flex flex-col w-full" [formGroup]="form">
      <mat-form-field class="flex justify-center">
        <mat-label>Mã User</mat-label>
        <input  matInput disabled [value]="form.controls.code.value" type="text">
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="username" type="text" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Tên đầy đủ</mat-label>
        <input matInput formControlName="fullName" type="text" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>SDT</mat-label>
        <input matInput formControlName="phoneNumber" type="tel" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>

      <div>
        <mat-label class="text-base mr-4">Giới tính</mat-label>
        <mat-radio-group formControlName="gender">
          @for (s of genderItems; track $index) {
            <mat-radio-button [value]="s.value">{{ s.name }}</mat-radio-button>
          }
        </mat-radio-group>
      </div>

      <mat-form-field class="flex justify-center">
        <mat-label>Địa chỉ</mat-label>
        <input matInput formControlName="address" type="text" />
      </mat-form-field>

      <div>
        <mat-label class="text-base mr-4" >Loại tài khoản</mat-label>
        <mat-radio-group formControlName="role">
          @for (i of userTypeItems; track $index) {
          <mat-radio-button [value]="i.value">{{ i.name }}</mat-radio-button>
          }
        </mat-radio-group>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <div class="flex justify-end p-2">
    <button
      mat-stroked-button
      mat-dialog-close
      class="mx-2"
    >
      Huỷ
    </button>
    <button mat-flat-button (click)="onSave()">
      @if(popupType === popupTypes.Add) { Lưu } @else { Cập Nhật }
    </button>
  </div>
</div>
