<div class="flex flex-col items-center p-10">
  <div class="text-3xl mb-4">Đổi mật khẩu</div>
  <form class="flex flex-col w-full px-5" [formGroup]="form">
    <!-- Password -->
    <mat-form-field class="flex justify-center">
      <mat-label>Mật khẩu</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <!-- New password -->
    <mat-form-field class="flex justify-center">
      <mat-label>Nhập lại mật khẩu</mat-label>
      <input matInput formControlName="repeatPassword" type="password" />
    </mat-form-field>

    <button
      mat-flat-button
      (click)="onChangePassword()"
    >
      Cập nhật
    </button>

  </form>
</div>
