<div class="flex justify-between items-center px-4 py-4 bg-green-500">
  <div class="text-2xl font-bold text-white">
    Quản Lý PGD Ngân Hàng Vietcombank
  </div>
  @if (userType != userTypes.Guest) {
  <div class="buttons flex justify-around">
    <button
      class="mx-1"
      mat-flat-button
      type="button"
      color="primary"
      (click)="onAddTrans()"
    >
      Thêm PGD
    </button>
    <button class="mx-1" mat-flat-button type="button" (click)="maintainList()">
      Danh sách bảo trì
    </button>
    <button
      class="mx-1"
      mat-flat-button
      type="button"
      (click)="onTransaction()"
    >
      Quản Lý Giao Dịch
    </button>
    @switch (userType) { @case (userTypes.User) {
    <button
      class="mx-1"
      mat-stroked-button
      [matMenuTriggerFor]="userMenu"
      extended
    >
      <mat-icon>account_circle</mat-icon>
      User
    </button>
    } @case (userTypes.Admin) {
    <button class="mx-1" mat-flat-button extended (click)="onUserManagement()">
      Quản lý User
    </button>
    <button
      class="mx-1"
      mat-stroked-button
      extended
      [matMenuTriggerFor]="userMenu"
    >
      <mat-icon>account_circle</mat-icon>
      Admin
    </button>
    } }
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onChangePass()">Thay đổi mật khẩu</button>
      <button mat-menu-item (click)="onLogOut()">Đăng xuất</button>
    </mat-menu>
  </div>
  }
</div>

<div
  class="flex w-full h-screen border-solid border-2 border-green-500 rounded-md"
  id="mapContainer"
>
  <div id="mapView" class="basis-10/12"></div>
  <div class="basis-2/12 border-l-2 p-2">
    <div class="description">
      <div class="font-bold text-center text-green-600">
        Số lượng khách hàng <br />
        giao dịch
      </div>
      @for (i of descriptionItems; track $index) {
      <div class="flex justify-start items-center p-2">
        <img [src]="i.value[0]" alt="Quantity" class="size-10" />
        <span class="pl-2">
          {{ i.name }}
          @if(i.value.length === 2) {
          {{ i.value[1] }}
          }
        </span>
      </div>
      }
    </div>

    @if (userType != userTypes.Guest) {
    <mat-divider></mat-divider>
    <div class="control text-center pt-5">
      <div class="font-bold">{{ chooseYear }}</div>
      <mat-slider class="w-full" [max]="max" [min]="min" [step]="step">
        <input
          matSliderThumb
          [(ngModel)]="chooseYear"
          #slider
          (valueChange)="onChooseYearChange($event)"
        />
      </mat-slider>
      <section class="">
        <mat-checkbox
          [(ngModel)]="showClosedTransaction"
          (change)="onShowClosed($event)"
          >Hiển thị PGD đóng cửa</mat-checkbox
        >
      </section>
    </div>
    }
  </div>
</div>

@if (isShowRedirect) {
<div
  class="absolute bottom-14 left-3 bg-blue-400 hover:bg-blue-500 rounded-full w-12 h-11 pt-2 border border-solid text-center"
  (click)="onDirection(false)"
>
  <mat-icon>location_on</mat-icon>
</div>
<div
  class="absolute bottom-3 left-3 bg-yellow-400 hover:bg-yellow-500 rounded-full w-12 h-11 pt-2 border border-solid text-center"
  (click)="onDirection(true)"
>
  <mat-icon>cancel</mat-icon>
</div>
}
