<div class="flex justify-between items-center my-4 px-4">
  <div class="text-2xl font-bold">Quản Lý PGD Ngân Hàng VietcomBank</div>
  <div class="buttons flex justify-around">
    <button class="mx-1" mat-flat-button type="button" (click)="onAddTrans()">
      Thêm PGD
    </button>
    <button class="mx-1" mat-flat-button type="button" (click)="maintainList()">
      Danh sách bảo trì
    </button>
    <button class="mx-1" mat-flat-button type="button" (click)="onTransaction()">
      Quản Lý Giao Dịch
    </button>
    @switch (userType) { @case (userTypes.User) {
    <button class="mx-1" mat-stroked-button [matMenuTriggerFor]="userMenu" extended>
      <mat-icon>account_circle</mat-icon>
      User
    </button>
    } @case (userTypes.Admin) {
    <button class="mx-1" mat-flat-button extended (click)="onUserManagement()">
      Quản lý User
    </button>
    <button class="mx-1" mat-stroked-button extended [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      Admin
    </button>
    } }

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onChangePass()">Thay đổi mật khẩu</button>
      <button mat-menu-item (click)="onLogOut()">Đăng xuất</button>
    </mat-menu>

  </div>
</div>

<div class="flex w-full h-screen border-solid border-2 border-blue-500 rounded-md">
  <div id="mapViewDiv" class="basis-10/12"></div>
  <div class="basis-2/12 border-l-2 p-2">
    <div class="description">
      <div class="font-bold">Số lượng khách hàng giao dịch</div>
      @for (i of descriptionItems; track $index) {
      <div class="flex justify-start p-2">
        <span class="size-5 rounded-full" [ngClass]="i.value"></span>
        <span class="pl-5">{{ i.name }} </span>
      </div>
      }
    </div>
  </div>
</div>
