<div mat-dialog-title class="text-lg font-bold">
  @if (popupType === popupTypes.Add) { Tạo PGD } @else { Chỉnh sửa PGD }
</div>

<div mat-dialog-content>
  <div class="flex flex-col items-center p-5">
    <form class="flex flex-col w-full" [formGroup]="form">
      <mat-form-field class="flex justify-center">
        <mat-label>Mã PGD</mat-label>
        <input matInput formControlName="transOfficeCode" type="text" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Tên PGD</mat-label>
        <input matInput formControlName="transOfficeName" type="text" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Địa chỉ</mat-label>
        <input matInput formControlName="transAddress" type="text" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Mô tả</mat-label>
        <textarea matInput formControlName="ward" type="text" ></textarea>
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Phường</mat-label>
        <mat-select matNativeControl formControlName="ward">
          @for (w of wards(); track $index) {
          <mat-option [value]="w.value">{{ w.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <mat-label class="text-base mr-4">Trạng thái</mat-label>
        <mat-radio-group>
          @for (s of status; track $index) {
          <mat-radio-button [value]="s.value">{{ s.name }}</mat-radio-button>
          }
        </mat-radio-group>
      </div>

      <mat-form-field class="flex justify-center">
        <mat-label>Thời gian hoạt động</mat-label>
        <input matInput formControlName="uptime" type="text" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Chi phí đầu tư</mat-label>
        <input matInput formControlName="investmentCost" type="number" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Tọa độ X</mat-label>
        <input matInput formControlName="lat" type="number" />
      </mat-form-field>

      <mat-form-field class="flex justify-center">
        <mat-label>Tọa độ Y</mat-label>
        <input matInput formControlName="long" type="number" />
      </mat-form-field>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <div class="flex justify-end p-2">
    <button
      mat-stroked-button
      mat-dialog-close
      class="mx-2"
    >
      Huỷ
    </button>
    <button mat-flat-button (click)="onSave()">
      @if(popupType === popupTypes.Add) { Lưu } @else { Cập Nhật }
    </button>
  </div>
</div>
